<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @holdlist.student_id %>
</p>

<p>
  <strong>University:</strong>
  <%= @holdlist.university_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @holdlist.book_id %>
</p>

<p>
  <strong>Library:</strong>
  <%= @holdlist.library_id %>
</p>

<%= link_to 'Edit', edit_holdlist_path(@holdlist) %> |
<%= link_to 'Back', holdlists_path %>
