<p id="notice"><%= notice %></p>

<p>
  <strong>Library:</strong>
  <%= @borrowhistory.library_id %>
</p>

<p>
  <strong>University:</strong>
  <%= @borrowhistory.university_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @borrowhistory.student_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @borrowhistory.book_id %>
</p>

<%= link_to 'Edit', edit_borrowhistory_path(@borrowhistory) %> |
<%= link_to 'Back', borrowhistories_path %>
