<%= form_with(model: librarybooklist, local: true) do |form| %>
  <% if librarybooklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(librarybooklist.errors.count, "error") %> prohibited this librarybooklist from being saved:</h2>

      <ul>
        <% librarybooklist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :library_id %>
    <%= form.text_field :library_id %>
  </div>

  <div class="field">
    <%= form.label :university_id %>
    <%= form.text_field :university_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
