<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @librarybooklist.book_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @librarybooklist.number %>
</p>

<p>
  <strong>Library:</strong>
  <%= @librarybooklist.library_id %>
</p>

<p>
  <strong>University:</strong>
  <%= @librarybooklist.university_id %>
</p>

<%= link_to 'Edit', edit_librarybooklist_path(@librarybooklist) %> |
<%= link_to 'Back', librarybooklists_path %>
